.RecentsSpaceWidget {
  width: 600px;
  height: 500px;
  display: flex;
}

.Widgets {
  width: 1200px;
  height: 500px;
  display: flex;
}

.WidgetsWidth {
  width: 1200px;
  display: flex;
}

.TeamList {
  width: 1200px;
  margin: 0.1em;
  display: flex;
}
.List {
  width: 100px;
  height: 100px;
  display: flex;
}

.width8rem {
  width: 8rem;
}
.width14rem {
  width: 14rem;
}
.width6rem {
  width: 6rem;
}
.width5rem {
  width: 5rem;
}
.width4rem {
  width: 4rem;
}
.width3rem {
  width: 3rem;
}
.width2rem {
  width: 2rem;
}
.width1rem {
  width: 1rem;
}

.width60 {
  width: 60%;
}

table.Table td {
  font-size: 0.5em;
}
